/* You can add global styles to this file, and also import other style files */
.panel{
    margin: 10px;
}
.panel-body{
    padding: 10px 0;
    text-align: center;
}

.panel-success .panel-body{
    color: #70ad41;
}

.panel-danger .panel-body{    
    color: #e7a1ad
}